<div class="container">
    <% if(error && error.length > 0) { %>
    <article class="message is-danger">
        <div class="message-body">
            <h4 class="subtitle is-4">
                <%= error %>
            </h4>
        </div>
    </article>
    <% } %>
    <% if(success && success.length > 0) { %>
    <article class="message is-success">
        <div class="message-body">
            <h4 class="subtitle is-4">
                <%= success %>
            </h4>
        </div>
    </article>
    <% } %>
</div>