<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <h1 class="title is-2">New List</h1>

        <form action="/lists/create" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">List title:</label>
                    <input type="text" class="input" name="title" placeholder="Enter list title">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="label">List description:</label>
                    <textarea rows="4" class="input" name="description" placeholder="Enter short list description"></textarea>
                </div>
            </div>
            <div style="display:inline">
                <button type="submit" class="button is-success">Add List</button>
                <a class="button is-danger" onclick="history.back()"><i style="padding-right: 5px" class="fas fa-ban"></i>
                    Cancel</a>
            </div>
        </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>