<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
        <% include ./partials/messages.ejs %>

        <!-- Hero Header -->
        <header class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-2">Welcome to Forgot The Milk</h1>
                    <h3 class="subtitle is-4">Forgot The Milk is the smart to-do app for busy people. You'll never
                        forget
                        the milk (or anything else) again.</h3>

                    <figure class="image is-128x128">
                        <img src="https://cdn3.iconfinder.com/data/icons/fitness-24/512/6-512.png">
                    </figure>
                    <a href="/users/sign_up" class="button is-link is-outlined is-large">Sign
                        up</a>
                </div>
            </div>
        </header>

        <!-- Page Features -->
        <div class="level">
            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">To-Do List Management</h4>
                    <p class="card-content">Get to-dos out of your head, and let the app remember for you.</p>
                </div>
            </section>

            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">User Collaboration</h4>
                    <p class="card-content">Share your lists with others to get things done faster!</p>
                </div>
            </section>

            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">Real-Time Updates</h4>
                    <p class="card-content">Stay magically in sync on all of your devices.</p>
                </div>
            </section>
        </div>
        <!-- /.row -->

    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>

</body>

</html>