<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>
    <% include ./partials/messages.ejs %>

    <!-- Page Content -->
    <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome to Forgot The Milk</h1>
            <p class="lead">Forgot The Milk is the smart to-do app for busy people. You'll never forget the milk (or
                anything else) again.</p>
            <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

            <section class="col-lg-4">
                <h4 class="card-title">To-Do List Management</h4>
                <p class="card-text">Get to-dos out of your head, and let the app remember for you.</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">User Collaboration</h4>
                <p class="card-text">Share your lists with others to get things done faster!</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Real-Time Updates</h4>
                <p class="card-text">Stay magically in sync on all of your devices.</p>
            </section>

        </section>
        <!-- /.row -->

    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>

</body>

</html>