<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1 class="title is-2">Sign up</h1>

        <form action="/users" method="post">
            <div class="field">
                <label class="label">Username:</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="username" type="text" placeholder="Enter username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Email:</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="email" placeholder="Enter email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <label class="label">Password:</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Enter password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <p class="help">password must match confirmation below</p>
                </p>
            </div>

            <div class="field">
                <label class="label">Password Confirmation:</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" name="passwordConfirmation" placeholder="Enter password confirmation">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-success">Sign up</button>
                </p>
            </div>
        </form>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>